* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
}

a {
  color: #000;
  text-decoration: none;
}

section {
  margin-top: 5rem;
}

ul {
  list-style: none;
}

/* Utiltity class */
.btn {
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  background-color: rgb(255 166 17);
  border: 0;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

.btn:hover {
  background: rgb(80, 97, 6);
  color: #fff;
  box-shadow: 3px 2px 2px rgb(208 55 55);
}

.primary-text {
  color: #ff7b00;
}

.l-header {
  font-size: 2.2rem;
  text-align: center;
}

.m-header {
  font-size: 1.5rem;
}

.more:hover {
  text-decoration: underline;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* start */
/* index page */
/* index page */

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #6e7d96;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#navbar .nav-links ul {
  list-style: none;
  display: flex;
}

#navbar .nav-links button {
  padding: 1.65rem 0;
  border: none;
  font-size: 1.2rem;
}

#navbar .nav-links button a {
  padding: 1.7rem 1.2rem;
  background-color: #ddd;
  background-color: #6e7d96;
}

#navbar .nav-links .about-follow a:hover,
#navbar .nav-links .category-follow a:hover {
  color: #4e1b0b;
  font-weight: 600;
}

#navbar .nav-links a:hover {
  color: #6b1e07;
}

#navbar .nav-links ul li .follow-list .about-follow {
  display: none;
  padding: 0.5rem;
}

#navbar .nav-links ul li .follow-list:hover .about-follow {
  background-color: rgb(218, 208, 208);
  display: block;
  position: absolute;
  top: 3.8rem;
  width: 8rem;
  height: 6rem;
  border-radius: 5px;
  font-size: 1.1em;
  opacity: 0.8;
}

#navbar .nav-links ul li .follow-list .about-follow ul {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  text-align: center;
}

#navbar .nav-links ul li .follow-list .about-follow ul li {
  padding-bottom: 0.7rem;
}

#navbar .nav-links ul li .follow-list .category-follow {
  display: none;
  padding: 0.5rem;
}

#navbar .nav-links ul li .follow-list:hover .category-follow {
  background-color: rgb(218, 208, 208);
  display: block;
  position: absolute;
  top: 3.8rem;
  width: 8rem;
  height: 8rem;
  border-radius: 5px;
  font-size: 1.2em;
  opacity: 0.8;
}

#navbar .nav-links ul li .follow-list .category-follow ul {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  text-align: center;
}

#navbar .nav-links ul li .follow-list .category-follow ul li {
  padding-bottom: 0.7rem;
}

/* showcase */
#showcase {
  background: url(../img/showcase2.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  margin-top: 4.7rem;
  text-align: center;
  padding-top: 10rem;
}

#showcase .title {
  font-size: 4rem;
  color: #ff7b00;
  padding-bottom: 1.2rem;
  text-shadow: 5px 5px #f00;
}

#showcase p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
}

/* Most sails */
#home-content {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

#home-content .content .box {
  width: 100%;
  height: 100%;
  background-color: #576b88;
  margin-bottom: 1rem;
}

#home-content .content .box h3 {
  padding: 1rem 0 0 2rem;
}

#home-content .content .box p {
  padding: 0.5rem 0 0.5rem 2.1rem;
  color: #fff;
  font-size: 1.2;
}

#home-content .content .box ul {
  display: flex;
  justify-content: space-around;
}

#home-content .content .box ul li {
  padding: 0 1%;
}

#home-content .content .box ul li img {
  width: 100%;
  /* padding: 0 2%; */
  border: 1px solid #fff;
}

/* End */
/* index page */
/* index page */

/*  */

/* footer */
#footer {
  width: 100%;
  background: #444;
  padding: 1.5rem 0;
  text-align: center;
  color: #fff;
}
